# Put your token Here
# If you don't have, obtain one at https://discord.com/developers/applications
token=YOUR_TOKEN_HERE
# Optionally print out debug info
debug=true
# What your bot is playing or watching or etc.
activity=Integrated Discord Bot but with placeholder!
# decided what your bot is doing
# Allowed value:
# playing
# streaming
# listening
# watching
activity_type=watching
# decided your bot's status
# Allowed value:
# online
# invisible
# dnd/do_not_disturb
# idle
status=dnd